.bxr-share-icon > .tw {
    background: #2DAAE2 !important;
}

.bxr-share-icon > .gp {
    background: #DB2821 !important;
}

.bxr-share-icon > .fb {
    background: #3B569B !important;
}

.bxr-share-icon > .vk {
    background: #5F80B3 !important;
}

.bxr-share-icon > .printerest
{
    background: #bd081c !important;
}

.bxr-share-social {
	margin: 0;
	margin-top: 5px;
	padding: 0;
	display: inline-block;
	list-style: none;
}

.bxr-share-icon.first-child {
    margin-left: 0px;
}

.bxr-share-icon {
	float: right;
	display: block;
	margin-left: 6px;
	margin-bottom: 4px;
	height: 22px;
	width: 22px;
}
.bxr-share-icon a,
.bxr-share-icon a:link,
.bxr-share-icon a:visited,
.bxr-share-icon a:active {
	color: #fff;
	font-size: 14px;
        line-height: 14px;
	text-align: center;
	vertical-align: middle;
	display: block;
	height: 24px;
	width: 24px;
	border-radius: 3px;
}

.bxr-share-icon_vk,
.bxr-share-icon_tw,
.bxr-share-icon_printerest
{
    padding-top: 5px;
}

.bxr-share-icon_gp
{
    padding-top: 6px;
}

.bxr-share-icon_fb
{
    padding-top: 7px;
}

.bxr-share-icon_fb > .fa.fa-facebook
{
    /*font-size: 1.4em;*/
}

.bxr-share-block-text
{
    margin-top: 7px;
    font-size: 14px;
    color: #B7B7B7;
}
