.bxr-news-horizontal-v1{
    width: 100%;
    margin-bottom: 30px;
    display: table;
}
.bxr-news-horizontal-v1.use-hr{
    margin-bottom: 20px;
}
.bxr-news-horizontal-v1 .bxr-element-image{
    width: 30%;
    max-width: 270px;
    text-align: center;
    border: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    display: table-cell;
}

.bxr-news-horizontal-v1 .bxr-element-content{
    display: table-cell;
}

.bxr-news-horizontal-v1 .bxr-element-image img{
    max-width: 100%;
}

.bxr-news-horizontal-v1 .bxr-element-name{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    display: block;
}

.bxr-news-horizontal-v1 .bxr-element-description{
    font-size: 13px;
    color: #737373;
    padding-top: 10px;
}

.bxr-news-horizontal-v1 .bxr-element-action{
    margin-top: 20px;
}

.bxr-news-horizontal-v1 .bxr-element-action .bxr-color-button {
    display: inline-block;
}

.bxr-news-horizontal-v1 .bxr-element-action .bxr-border-color-button{
    padding: 5px 30px;
}

.bxr-news-horizontal-v1 .bxr-element-date {
    display: inline-block;
}

.bxr-news-horizontal-v1 .bxr-element-date .bxr-color {
    padding: 5px 7px;
    margin-top: 10px;
    font-size: 13px;
}

.bxr-news-horizontal-v1 .bxr-element-date .bxr-date-gray {
    padding: 5px 7px;
    margin-top: 10px;
    font-size: 13px;
    color: #A5A5A5;
    border: 1px solid #DADADA;
    border-radius: 3px;
}
.bxr-news-horizontal-v1-hr {
    margin-top: 0;
    margin-bottom: 12px;
}