.bx_login_block{
    float: left;
    /*padding-left: 16px;
    background: url('images/gui.png') no-repeat left center;*/
}
a.bx_login_top_inline_link{
	/*color: #576e75;*/
	vertical-align: middle;
	text-decoration: none;
	font-size: 13px;
	/*line-height: 13px;*/
	margin: 0 4px 0 2px;
}

a.bx_login_top_inline_link.mono{
    margin: 0;
}

a.bx_login_top_inline_link:hover{
    text-decoration: none;
}

.bx_login_popup_form {
	margin: 20px 0;
}